html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}
#text {
    background-color: black;
    position: absolute;
    line-height: 85px;
    font-size: 80px;
    color: white;
    top: 165px;
    height: 500px;
    width: 1000px;
    font-family: Arial, sans-serif;
    white-space: pre;
    white-space: pre-wrap;
    overflow: hidden;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}
#time {
    position: absolute;
    color: white;
    font-size: 75px;
    line-height: 80px;
    height: 160px;
    top: 5px;
    width: 1000px;
    font-family: sans-serif;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}
