#content {
  top: 15px;
  position: absolute;
  width: 100%;
}

#text-preview {
    background-color: black;
    position: relative;;
    line-height: 85px;
    font-size: 80px;
    color: white;
    top: 0px;
    height: 500px;
    width: 1000px;
    font-family: Arial, sans-serif;
    white-space: pre;
    white-space: pre-wrap;
    overflow: hidden;
}

a {
  color: #00B7FF;
}
