extends bootstrap
append styles
    // Custom styles for this template
    link(href='/stylesheets/writer.css', rel='stylesheet')
append scripts
    script(src="/js/socket-writer.js")

block body
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand
                    | Nik's Socket Playground
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="#")
                            | Home

    .container#content
        .col-md-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title
                        | Type here
                .panel-body
                    textarea(id="niks-text-box" class="form-control" rows="3")
            .panel.panel-default
                .panel-heading
                    h3.panel-title
                        | Countdown
                .panel-body
                    .current
                        | 
                    .buttons
                        button(class="btn btn-default" type="button" id="5s")
                            | 5s
                        button(class="btn btn-default" type="button" id="10s")
                            | 10s
                        button(class="btn btn-default" type="button" id="30s")
                            | 30s
                        button(class="btn btn-default" type="button" id="1m")
                            | 1m
                        button(class="btn btn-default" type="button" id="2m")
                            | 2m
                        button(class="btn btn-default" type="button" id="3m")
                            | 3m
            .panel.panel-default
                .panel-heading
                    h3.panel-title
                        | Options
                .panel-body
                    button(class="btn btn-default" type="button" id="flip-image")
                        | Flip
